 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG_8019.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

.u-section-1 .u-group-1 {
  width: 720px;
  min-height: 431px;
  box-shadow: 0 0 40px 4px rgba(26,26,26,0.8);
  background-image: none;
  margin: 183px auto 0 210px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-1 .u-shape-1 {
  width: 94px;
  height: 96px;
  margin: 1px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 45px 20px 0;
}

.u-section-1 .u-shape-2 {
  width: 94px;
  height: 96px;
  margin: 37px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 594px;
    margin-left: 173px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 455px;
    margin-left: 133px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-top: 165px;
    margin-bottom: 75px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 240px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 116px;
    margin-left: -6px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1191px;
}

.u-section-2 .u-text-1 {
  margin: 18px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 1073px;
  height: 727px;
  object-position: 50% 11.81%;
  margin: 38px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: -221px 527px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 60px 527px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 18px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 637px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -131px;
    margin-right: 327px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 488px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 18px;
    margin-right: 107px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 366px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 230px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 524px;
}

.u-section-3 .u-text-1 {
  margin: 60px 0;
}