.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 374px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  width: 821px;
  margin: 40px auto 0;
}

.u-section-2 .u-text-2 {
  width: 821px;
  margin: 40px auto 0;
}

.u-section-2 .u-text-3 {
  width: 821px;
  margin: 14px auto 25px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    line-height: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 99px;
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 288px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 820px;
  margin: 14px auto;
}

.u-section-3 .u-image-1 {
  min-height: 290px;
  background-image: url("images/power_connector.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 199px;
  background-image: url("images/switch.png");
  background-position: 3.26% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 91px;
  background-image: url("images/power_switch.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 639px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 255px;
  }

  .u-section-3 .u-image-2 {
    min-height: 175px;
  }

  .u-section-3 .u-image-3 {
    min-height: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1810px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 348px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 292px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 133px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 219px;
  }

  .u-section-3 .u-image-2 {
    min-height: 184px;
  }

  .u-section-3 .u-image-3 {
    min-height: 84px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 235px;
}

.u-section-4 .u-text-1 {
  width: 821px;
  margin: 41px auto 0;
}

.u-section-4 .u-text-2 {
  width: 821px;
  margin: 21px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    line-height: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 99px;
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 601px;
}

.u-section-5 .u-table-1 {
  width: 821px;
  margin: 42px auto 0;
}

.u-section-5 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-5 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-text-1 {
  width: 821px;
  margin: 34px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-2 {
  width: 821px;
  margin: 20px auto 10px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-table-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-table-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-table-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 218px;
}

.u-section-6 .u-gallery-1 {
  height: 216px;
  grid-gap: 17px 17px;
  width: 820px;
  margin: 1px auto;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-6 .u-gallery-1 {
    height: 759px;
    width: 720px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-6 .u-gallery-1 {
    height: 569px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-6 .u-gallery-1 {
    height: 358px;
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1390px;
}

.u-section-7 .u-text-1 {
  width: 821px;
  margin: 41px auto 0;
}

.u-section-7 .u-text-2 {
  width: 821px;
  margin: 21px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 311px;
  height: 295px;
  margin: 21px auto 0;
}

.u-section-7 .u-text-3 {
  width: 821px;
  margin: 60px auto 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-image-2 {
  width: 570px;
  height: 511px;
  margin: 21px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    line-height: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 99px;
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-text-3 {
    width: 540px;
  }

  .u-section-7 .u-image-2 {
    width: 540px;
    height: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-text-3 {
    width: 340px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 305px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 636px;
}

.u-section-8 .u-text-1 {
  width: 821px;
  margin: 41px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 821px;
  margin: 21px auto 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 145px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-text-2 {
  margin: 0 30px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 145px;
}

.u-section-8 .u-container-layout-2 {
  padding: 2px 0;
}

.u-section-8 .u-image-1 {
  height: 142px;
  width: 203px;
  margin: 0 0 0 auto;
}

.u-section-8 .u-image-2 {
  width: 570px;
  height: 349px;
  margin: 21px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 127px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 99px;
    width: 540px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 193px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-8 .u-image-2 {
    width: 540px;
    height: 330px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 277px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 212px;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 208px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 174px;
}

.u-section-9 .u-text-1 {
  width: 821px;
  margin: 21px auto 0;
}

.u-section-9 .u-text-2 {
  width: 821px;
  margin: 21px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    line-height: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
  }

  .u-section-9 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 174px;
}

.u-section-10 .u-text-1 {
  width: 821px;
  margin: 21px auto 0;
}

.u-section-10 .u-text-2 {
  width: 821px;
  margin: 21px auto;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-2 {
    line-height: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    width: 720px;
  }

  .u-section-10 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    width: 540px;
  }

  .u-section-10 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 2255px;
}

.u-section-11 .u-text-1 {
  width: 821px;
  margin: 21px auto 0;
}

.u-section-11 .u-text-2 {
  width: 821px;
  margin: 21px auto 0;
}

.u-section-11 .u-image-1 {
  width: 570px;
  height: 524px;
  margin: 21px auto 0;
}

.u-section-11 .u-text-3 {
  width: 821px;
  margin: 30px auto 0;
}

.u-section-11 .u-text-4 {
  width: 821px;
  margin: 20px auto 0;
}

.u-section-11 .u-text-5 {
  width: 821px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-11 .u-layout-wrap-1 {
  width: 821px;
  margin: 0 auto;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 323px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0;
}

.u-section-11 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 8px 0 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 323px;
}

.u-section-11 .u-container-layout-2 {
  padding: 0;
}

.u-section-11 .u-image-2 {
  height: 184px;
  width: 376px;
  margin: 8px -10px 0;
}

.u-section-11 .u-text-7 {
  font-size: 1.25rem;
  width: 821px;
  margin: 0 auto;
}

.u-section-11 .u-image-3 {
  width: 570px;
  height: 506px;
  margin: 21px auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-2 {
    line-height: 24px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 2285px;
  }

  .u-section-11 .u-text-1 {
    width: 720px;
  }

  .u-section-11 .u-text-2 {
    width: 720px;
  }

  .u-section-11 .u-text-3 {
    width: 720px;
  }

  .u-section-11 .u-text-4 {
    width: 720px;
  }

  .u-section-11 .u-text-5 {
    width: 720px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-text-6 {
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-11 .u-text-7 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 2558px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 99px;
    width: 540px;
  }

  .u-section-11 .u-text-2 {
    width: 540px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 497px;
  }

  .u-section-11 .u-text-3 {
    width: 540px;
  }

  .u-section-11 .u-text-4 {
    width: 540px;
  }

  .u-section-11 .u-text-5 {
    width: 540px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 507px;
  }

  .u-section-11 .u-text-7 {
    width: 540px;
  }

  .u-section-11 .u-image-3 {
    width: 540px;
    height: 479px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1998px;
  }

  .u-section-11 .u-text-1 {
    width: 340px;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 313px;
  }

  .u-section-11 .u-text-3 {
    width: 340px;
  }

  .u-section-11 .u-text-4 {
    width: 340px;
  }

  .u-section-11 .u-text-5 {
    width: 340px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 319px;
  }

  .u-section-11 .u-image-2 {
    height: 166px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-7 {
    width: 340px;
  }

  .u-section-11 .u-image-3 {
    width: 340px;
    height: 302px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 833px;
}

.u-section-12 .u-text-1 {
  width: 821px;
  margin: 21px auto 0;
}

.u-section-12 .u-text-2 {
  width: 821px;
  margin: 21px auto 0;
}

.u-section-12 .u-text-3 {
  width: 821px;
  margin: 20px auto 0;
}

.u-section-12 .u-text-4 {
  width: 821px;
  margin: 20px auto 0;
}

.u-section-12 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-image-1 {
  width: 570px;
  height: 354px;
  margin: 20px auto 0;
}

.u-section-12 .u-text-5 {
  width: 821px;
  margin: 30px auto 21px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-2 {
    line-height: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    width: 720px;
  }

  .u-section-12 .u-text-2 {
    width: 720px;
  }

  .u-section-12 .u-text-3 {
    width: 720px;
  }

  .u-section-12 .u-text-4 {
    width: 720px;
  }

  .u-section-12 .u-text-5 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-12 .u-text-1 {
    width: 540px;
  }

  .u-section-12 .u-text-2 {
    width: 540px;
  }

  .u-section-12 .u-text-3 {
    width: 540px;
  }

  .u-section-12 .u-text-4 {
    width: 540px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 335px;
  }

  .u-section-12 .u-text-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-12 .u-text-1 {
    width: 340px;
  }

  .u-section-12 .u-text-2 {
    width: 340px;
  }

  .u-section-12 .u-text-3 {
    width: 340px;
  }

  .u-section-12 .u-text-4 {
    width: 340px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 211px;
  }

  .u-section-12 .u-text-5 {
    width: 340px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 615px;
}

.u-section-13 .u-text-1 {
  width: 821px;
  margin: 21px auto 0;
}

.u-section-13 .u-text-2 {
  width: 821px;
  margin: 21px auto 0;
}

.u-section-13 .u-text-3 {
  width: 821px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-2 {
    line-height: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    width: 720px;
  }

  .u-section-13 .u-text-2 {
    width: 720px;
  }

  .u-section-13 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    margin-top: 99px;
    width: 540px;
  }

  .u-section-13 .u-text-2 {
    width: 540px;
  }

  .u-section-13 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    width: 340px;
  }

  .u-section-13 .u-text-2 {
    width: 340px;
  }

  .u-section-13 .u-text-3 {
    width: 340px;
  }
}