.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 153px;
}

.u-section-2 .u-text-1 {
  width: 820px;
  margin: 37px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 490px;
}

.u-section-3 .u-text-1 {
  width: 820px;
  margin: 6px auto 0;
}

.u-section-3 .u-text-2 {
  width: 820px;
  margin: 28px auto 60px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  width: 820px;
  margin: 34px auto 0;
}

.u-section-3 .u-text-4 {
  width: 820px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  width: 820px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  width: 820px;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-weight: normal;
  }

  .u-section-3 .u-text-3 {
    font-family: Roboto, sans-serif;
  }

  .u-section-3 .u-text-4 {
    font-weight: normal;
  }

  .u-section-3 .u-text-6 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
  }

  .u-section-3 .u-text-4 {
    width: 720px;
  }

  .u-section-3 .u-text-5 {
    width: 720px;
  }

  .u-section-3 .u-text-6 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }

  .u-section-3 .u-text-4 {
    width: 540px;
  }

  .u-section-3 .u-text-5 {
    width: 540px;
  }

  .u-section-3 .u-text-6 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    width: 340px;
  }

  .u-section-3 .u-text-6 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 272px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  width: 760px;
  margin: 10px auto;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 812px;
}

.u-section-5 .u-text-1 {
  width: 820px;
  margin: 17px auto 0;
}

.u-section-5 .u-table-1 {
  width: 820px;
  margin: 17px auto 0;
}

.u-section-5 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-5 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-5 .u-text-2 {
  width: 820px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-3 {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-image: none;
  font-weight: 700;
}

.u-section-5 .u-text-4 {
  width: 820px;
  margin: 20px auto 30px;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-table-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    width: 720px;
  }

  .u-section-5 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-table-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }

  .u-section-5 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-table-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 793px;
}

.u-section-6 .u-text-1 {
  width: 820px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-2 {
  width: 820px;
  margin: 25px auto 0;
}

.u-section-6 .u-text-3 {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-6 .u-text-4 {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-6 .u-text-6 {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-6 .u-text-7 {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-image: none;
  font-weight: 700;
}

.u-section-6 .u-text-8 {
  width: 820px;
  margin: 20px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-weight: normal;
    width: 803px;
  }

  .u-section-6 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-text-3 {
    width: 720px;
  }

  .u-section-6 .u-text-4 {
    width: 720px;
  }

  .u-section-6 .u-text-5 {
    width: 720px;
  }

  .u-section-6 .u-text-6 {
    width: 720px;
  }

  .u-section-6 .u-text-7 {
    width: 720px;
  }

  .u-section-6 .u-text-8 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-text-3 {
    width: 540px;
  }

  .u-section-6 .u-text-4 {
    width: 540px;
  }

  .u-section-6 .u-text-5 {
    width: 540px;
  }

  .u-section-6 .u-text-6 {
    width: 540px;
  }

  .u-section-6 .u-text-7 {
    width: 540px;
  }

  .u-section-6 .u-text-8 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
  }

  .u-section-6 .u-text-4 {
    width: 340px;
  }

  .u-section-6 .u-text-5 {
    width: 340px;
  }

  .u-section-6 .u-text-6 {
    width: 340px;
  }

  .u-section-6 .u-text-7 {
    width: 340px;
  }

  .u-section-6 .u-text-8 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 321px;
}

.u-section-7 .u-text-1 {
  margin: 20px 747px 0 160px;
}

.u-section-7 .u-text-2 {
  width: 820px;
  margin: 20px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 647px;
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 487px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: 307px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-right: 107px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
}