 .u-section-1 {
  background-image: none;
  min-height: 591px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 591px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 30px 40px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center 0px;
  margin: 49px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.8;
  margin: 23px 0 0;
}

.u-section-1 .u-video-1 {
  min-height: 591px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 525px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 525px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-video-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 435px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 678px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 52px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 495px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 752px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 74px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 47.25px) calc(25% - 47.25px) calc(25% - 47.25px) calc(25% - 47.25px);
  min-height: 391px;
  grid-gap: 63px 63px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  color: currentcolor !important;
  margin: -20px auto 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: none;
  font-family: Poppins;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  color: rgb(17, 17, 17) !important;
  margin: -20px auto 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: none;
  font-family: Poppins;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  color: rgb(17, 17, 17) !important;
  margin: -20px auto 0;
}

.u-section-2 .u-text-7 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: none;
  font-family: Poppins;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  color: currentcolor !important;
  margin: -20px auto 0;
}

.u-section-2 .u-text-9 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: none;
  font-family: Poppins;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 322px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(101, 74, 255) !important;
  }

  .u-section-2 .u-btn-1 {
    padding: 12px 31px 12px 30px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(101, 74, 255) !important;
  }

  .u-section-2 .u-btn-2 {
    padding: 12px 31px 12px 30px;
  }

  .u-section-2 .u-btn-3 {
    padding: 12px 31px 12px 30px;
  }

  .u-section-2 .u-btn-4 {
    padding: 12px 31px 12px 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 31.5px) calc(50% - 31.5px);
    min-height: 740px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -28px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -28px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -28px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -28px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1502px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 838px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 90px auto 0;
}

.u-section-3 .u-list-1 {
  width: 961px;
  margin: 31px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 497px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 30px 14px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  font-size: 4.5rem;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-3 {
  margin: -66px 15px 16px 64px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 30px 14px;
}

.u-section-3 .u-text-4 {
  margin-top: 0;
  font-size: 4.5rem;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-5 {
  margin: -66px 15px 16px 64px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 30px 14px;
}

.u-section-3 .u-text-6 {
  margin-top: 0;
  font-size: 4.5rem;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-7 {
  margin: -66px 15px 16px 64px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-3 {
    margin-right: 5px;
    margin-left: 54px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 5px;
    margin-left: 54px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 5px;
    margin-left: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin: -79px 0 0 55px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin: -79px 0 0 55px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin: -79px 0 0 55px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 30px 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 27px;
    font-size: 3rem;
  }

  .u-section-3 .u-text-3 {
    margin-left: 45px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 27px;
    font-size: 3rem;
  }

  .u-section-3 .u-text-5 {
    margin-left: 45px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 27px;
    font-size: 3rem;
  }

  .u-section-3 .u-text-7 {
    margin-left: 45px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 911px;
}

.u-section-4 .u-text-1 {
  margin: 49px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1083px;
  margin: 49px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 626px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 2px 10px 15px;
}

.u-section-4 .u-image-1 {
  width: 120px;
  height: 120px;
  background-image: url("images/263513576_290244569708034_4201620294162030493_n.jpg");
  background-position: 78.57% 50%;
  margin: 28px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 15px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 0 10px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -15px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -10px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 2px 10px 15px;
}

.u-section-4 .u-image-2 {
  width: 120px;
  height: 120px;
  background-image: url("images/photo_2021-12-0819.25.301.jpeg");
  background-position: 78.35% 50%;
  margin: 28px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 15px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 0 10px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -15px auto 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -10px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 2px 10px 15px;
}

.u-section-4 .u-image-3 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/pexels-photo-3851976.jpeg");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 15px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 0 10px;
}

.u-section-4 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -15px auto 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -10px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 2px 10px 15px;
}

.u-section-4 .u-image-4 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/photo_2021-12-0819.36.161.jpeg");
  background-position: 50% 29.13%;
  margin: 28px auto 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 15px auto 0;
}

.u-section-4 .u-text-9 {
  margin: 0 10px;
}

.u-section-4 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -15px auto 0;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -10px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 2px 10px 15px;
}

.u-section-4 .u-image-5 {
  width: 120px;
  height: 120px;
  object-position: 50% 0%;
  background-image: url("images/35386808_10216642447558115_8795353115307016192_n.jpg");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 15px auto 0;
}

.u-section-4 .u-text-11 {
  margin: 0 10px;
}

.u-section-4 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: -15px auto 0;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -10px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 543px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 191px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    width: 191px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
    width: 191px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
    width: 191px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
    width: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 936px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }
}