.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 64px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 1850px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  margin: 62px auto 0 160px;
}

.u-section-2 .u-text-2 {
  width: 820px;
  line-height: 24px;
  margin: 15px auto 0;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 487px;
  width: 820px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  text-align: center;
  width: 680px;
  margin: 26px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  width: 820px;
  margin: 31px auto 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 646px;
  margin: 26px auto 0;
}

.u-section-2 .u-text-5 {
  width: 820px;
  margin: 60px auto 26px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1785px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-2 .u-text-4 {
    width: 720px;
  }

  .u-section-2 .u-text-5 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1907px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
    margin-top: -160px;
  }

  .u-section-2 .u-text-4 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 612px;
  }

  .u-section-2 .u-text-5 {
    width: 540px;
    margin-top: 1362px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1464px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
    margin-top: 78px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 385px;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
    margin-top: 969px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 856px;
}

.u-section-3 .u-text-1 {
  margin: 25px auto 0 160px;
}

.u-section-3 .u-text-2 {
  width: 820px;
  line-height: 24px;
  margin: 14px auto 0;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 487px;
  width: 820px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  text-align: center;
  width: 680px;
  margin: 26px auto 25px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1776px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 834px;
}

.u-section-4 .u-text-1 {
  margin: 21px auto 0 160px;
}

.u-section-4 .u-text-2 {
  width: 820px;
  line-height: 24px;
  margin: 15px auto 0;
}

.u-section-4 .u-custom-html-1 {
  min-height: 487px;
  width: 820px;
  margin: 25px auto 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  text-align: center;
  width: 680px;
  margin: 26px auto 25px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1303px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1801px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1475px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 441px;
}

.u-section-5 .u-text-1 {
  width: 820px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  width: 820px;
  margin: 20px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-weight: normal;
    margin-left: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 101px;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1011px;
}

.u-section-6 .u-text-1 {
  margin: 33px auto 0 160px;
}

.u-section-6 .u-gallery-1 {
  height: 863px;
  margin-top: 26px;
  margin-bottom: 50px;
  grid-gap: 17px 17px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-6 .u-gallery-1 {
    height: 712px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2181px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 144px;
    height: 1636px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1030px;
  }
}