.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 887px;
}

.u-section-2 .u-text-1 {
  width: 820px;
  margin: 26px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 24px 691px 0 160px;
}

.u-section-2 .u-text-3 {
  width: 820px;
  margin: 14px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 418px;
  grid-gap: 17px 17px;
  width: 820px;
  margin: 21px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-4 {
  width: 820px;
  margin: 14px auto 21px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 591px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1937px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 431px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1173px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1570px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 251px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1066px;
    width: 540px;
  }

  .u-section-2 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 101px;
    margin-right: 51px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 694px;
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 156px;
}

.u-section-3 .u-text-1 {
  margin: 16px 711px 0 160px;
}

.u-section-3 .u-text-2 {
  width: 821px;
  margin: 16px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 251px;
    margin-right: 611px;
  }

  .u-section-3 .u-text-2 {
    line-height: 24px;
    width: 680px;
    margin-left: 251px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 192px;
    margin-right: 451px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 192px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 144px;
    margin-right: 271px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 91px;
    margin-right: 71px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-left: 91px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1075px;
}

.u-section-4 .u-table-1 {
  width: 960px;
  margin: 0 auto 30px;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-21 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-26 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-31 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-36 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-41 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-46 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-51 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-table-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 336px;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  width: 821px;
  margin: 25px auto 0;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  font-style: normal;
  color: rgb(17, 17, 17) !important;
  margin: 16px 265px 16px 160px;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: 612px;
    margin-left: 60px;
    margin-right: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 153px;
}

.u-section-6 .u-text-1 {
  margin: 20px auto 0 160px;
}

.u-section-6 .u-text-2 {
  width: 820px;
  margin: 20px auto 50px;
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}