 .u-section-1 {
  background-image: none;
  min-height: 1166px;
}

.u-section-1 .u-gallery-1 {
  height: 1166px;
  grid-gap: 17px 17px;
  margin: 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(231,44,102,1), rgba(231,44,102,1));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(231,44,102,1), rgba(231,44,102,1));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(231,44,102,1), rgba(231,44,102,1));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(231,44,102,1), rgba(231,44,102,1));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(231,44,102,1), rgba(231,44,102,1));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(231,44,102,1), rgba(231,44,102,1));
  padding: 20px;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(231,44,102,1), rgba(231,44,102,1));
  padding: 20px;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(231,44,102,1), rgba(231,44,102,1));
  padding: 20px;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(231,44,102,1), rgba(231,44,102,1));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 961px;
  }

  .u-section-1 .u-gallery-1 {
    height: 961px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1840px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1840px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 4968px;
  }

  .u-section-1 .u-gallery-1 {
    height: 4968px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3128px;
  }

  .u-section-1 .u-gallery-1 {
    height: 3128px;
    margin-right: initial;
    margin-left: initial;
  }
}