 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1657px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-family: "Roboto Condensed", sans-serif;
  margin: 35px 0 0;
}

.u-section-1 .u-image-1 {
  width: 925px;
  height: 507px;
  margin: 36px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(20% - 17.6px) calc(20% - 17.6px) calc(20% - 17.6px) calc(20% - 17.6px) calc(20% - 17.6px);
  min-height: 330px;
  grid-gap: 22px 22px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 20px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 20px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-3 {
  padding: 19px 20px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-4 {
  padding: 19px 20px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-5 {
  padding: 19px 20px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 315px;
  min-height: 30px;
  margin: 68px auto 0;
}

.u-section-1 .u-text-13 {
  text-align: center;
  font-size: 1.5rem;
  width: 414px;
  margin: -30px auto 60px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  color: currentcolor !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
    min-height: 272px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 395px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 694px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1446px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 296px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1171px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 186px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-13 {
    width: 340px;
  }
}