.u-block-b53f-5 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + 396px);
  bottom: 7px;
}

.u-block-b53f-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-block-b53f-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
  margin-top: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-block-b53f-5 {
    right: calc(((100% - 940px) / 2)  + 296px);
  }
}

@media (max-width: 991px) {
  .u-block-b53f-5 {
    right: calc(((100% - 720px) / 2)  + 186px);
  }
}

@media (max-width: 767px) {
  .u-block-b53f-5 {
    right: calc(((100% - 540px) / 2)  + 96px);
  }
}

@media (max-width: 575px) {
  .u-block-b53f-5 {
    right: calc(((100% - 340px) / 2)  + -4px);
  }
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 979px;
}

.u-section-1-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 64px;
  margin-bottom: 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 926px;
  pointer-events: auto;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-1 .u-image-1 {
  width: 458px;
  height: 522px;
  margin: 0 auto 0 0;
}

.u-section-1-1 .u-rotation-parent-1 {
  width: 296px;
  height: 497px;
  margin: -153px -10px 0 auto;
}

.u-section-1-1 .u-image-2 {
  width: 497px;
  height: 296px;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 926px;
  pointer-events: auto;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: none;
  margin: 0;
}

.u-section-1-1 .u-text-2 {
  margin: 29px 0 0;
}

.u-section-1-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 52px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 764px;
  }

  .u-section-1-1 .u-rotation-parent-1 {
    height: 417px;
  }

  .u-section-1-1 .u-image-2 {
    width: 283px;
    height: 134px;
    margin: -80px 30px 0 auto;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 764px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-1-1 .u-image-1 {
    width: 355px;
    height: 405px;
  }

  .u-section-1-1 .u-rotation-parent-1 {
    margin-top: -36px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 878px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 388px;
  }

  .u-section-1-1 .u-rotation-parent-1 {
    margin-top: -19px;
  }

  .u-section-1-1 .u-image-2 {
    margin-top: -62px;
  }
}

 .u-section-1-2 {
  background-image: none;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 979px;
}

.u-section-1-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 72px auto 0 0;
}

.u-section-1-2 .u-layout-cell-1 {
  min-height: 1105px;
  pointer-events: auto;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-2 .u-image-1 {
  margin-bottom: 0;
  margin-top: 0;
  height: 420px;
}

.u-section-1-2 .u-image-2 {
  height: 318px;
  margin-bottom: 0;
  margin-top: -49px;
}

.u-section-1-2 .u-image-3 {
  width: 313px;
  height: 273px;
  margin: 0 auto 0 0;
}

.u-section-1-2 .u-layout-cell-2 {
  min-height: 600px;
  pointer-events: auto;
}

.u-section-1-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: none;
  margin: 21px 0 0;
}

.u-section-1-2 .u-text-2 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 911px;
  }

  .u-section-1-2 .u-image-1 {
    height: 346px;
  }

  .u-section-1-2 .u-image-2 {
    height: 285px;
    margin-top: 25px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 698px;
  }

  .u-section-1-2 .u-image-1 {
    height: 265px;
  }

  .u-section-1-2 .u-image-2 {
    height: 246px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 1047px;
  }

  .u-section-1-2 .u-image-1 {
    height: 398px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 659px;
  }

  .u-section-1-2 .u-image-1 {
    height: 251px;
  }

  .u-section-1-2 .u-image-2 {
    height: 236px;
  }

  .u-section-1-2 .u-layout-cell-2 {
    min-height: 361px;
  }
}

 .u-section-1-3 {
  background-image: none;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 1044px;
}

.u-section-1-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 64px;
  margin-bottom: 0;
}

.u-section-1-3 .u-layout-cell-1 {
  min-height: 1018px;
  pointer-events: auto;
}

.u-section-1-3 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-1-3 .u-image-1 {
  margin-top: 23px;
  margin-bottom: 0;
  height: 408px;
}

.u-section-1-3 .u-rotation-parent-1 {
  width: 565px;
  height: 353px;
  margin: 52px 0 0;
}

.u-section-1-3 .u-image-2 {
  width: 353px;
  height: 565px;
}

.u-section-1-3 .u-layout-cell-2 {
  min-height: 1018px;
  pointer-events: auto;
}

.u-section-1-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: none;
  margin: 0;
}

.u-section-1-3 .u-text-2 {
  margin: 29px 0 0;
}

.u-section-1-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 839px;
  }

  .u-section-1-3 .u-image-1 {
    height: 515px;
  }

  .u-section-1-3 .u-rotation-parent-1 {
    width: 465px;
    height: 190px;
    margin-top: -257px;
  }

  .u-section-1-3 .u-image-2 {
    width: 290px;
    height: 465px;
  }

  .u-section-1-3 .u-layout-cell-2 {
    min-height: 839px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-1-3 .u-rotation-parent-1 {
    width: 355px;
    height: 80px;
  }

  .u-section-1-3 .u-image-2 {
    width: 221px;
    height: 355px;
  }

  .u-section-1-3 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-1-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 965px;
  }

  .u-section-1-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-1-3 .u-image-1 {
    height: 497px;
  }

  .u-section-1-3 .u-rotation-parent-1 {
    width: 340px;
    height: 65px;
    margin-top: -239px;
  }

  .u-section-1-3 .u-image-2 {
    width: 212px;
    height: 340px;
  }
}