a:link {
  color: rgb(8, 247, 254);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(241, 72, 251);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(241, 72, 251);
  background-color: transparent;
  text-decoration: none;
}
