 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 286px;
}

.u-section-1 .u-text-1 {
  margin: 98px auto 0;
}

.u-section-1 .u-text-2 {
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    line-height: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 573px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-group-1 {
  min-height: 305px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  text-align: center;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-align: center;
  margin: 31px 0 0;
}

.u-section-2 .u-text-2 {
  text-align: center;
  margin: 19px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 572px;
  background-image: url("images/PIE_final_project_receiver.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 318px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-2 .u-image-1 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: -86px;
  }

  .u-section-2 .u-image-1 {
    min-height: 621px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    margin-bottom: -47px;
  }

  .u-section-2 .u-image-1 {
    min-height: 391px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 752px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 74px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 42px));
  min-height: 391px;
  grid-gap: 63px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 32px;
}

.u-section-3 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-3 .u-text-3 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: none;
  font-family: Poppins;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 32px;
}

.u-section-3 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-3 .u-text-5 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: none;
  font-family: Poppins;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 32px;
}

.u-section-3 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-3 .u-text-7 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 35px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.9375rem;
  border-style: solid;
  text-transform: none;
  font-family: Poppins;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 42px));
    min-height: 322px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(101, 74, 255) !important;
  }

  .u-section-3 .u-btn-1 {
    padding: 12px 31px 12px 30px;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(101, 74, 255) !important;
  }

  .u-section-3 .u-btn-2 {
    padding: 12px 31px 12px 30px;
  }

  .u-section-3 .u-btn-3 {
    padding: 12px 31px 12px 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 31.5px));
    min-height: 740px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -28px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -28px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -28px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1502px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 30px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 635px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 81px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  width: 861px;
  margin: 56px auto 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-3 {
    width: 340px;
  }

  .u-section-4 .u-text-4 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  width: 245px;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-text-4 {
  text-align: left;
  width: 861px;
  margin: 55px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 148px 0 177px;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-list-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-list-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-image-1 {
  width: 611px;
  height: 331px;
  margin: 47px 255px 0 274px;
}

.u-section-5 .u-text-6 {
  line-height: 1.8;
  text-align: center;
  width: 680px;
  margin: 9px auto 60px;
}

.u-section-5 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-5 {
    margin-right: 48px;
    margin-left: 77px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 154px;
    margin-left: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-4 {
    width: 720px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    margin-right: 45px;
    margin-left: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }

  .u-section-5 .u-text-4 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 293px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 184px;
  }

  .u-section-5 .u-text-6 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 462px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 402px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  margin: 16px auto 0;
}

.u-section-6 .u-text-2 {
  margin-bottom: 0;
  margin-top: 31px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 402px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 400px;
  height: 302px;
  margin: 14px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 16px 39px 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 318px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-6 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 331px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 66px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 272px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 340px;
    height: 257px;
  }
} .u-section-7 {
  min-height: 318px;
}

.u-section-7 .u-sheet-1 {
  min-height: 601px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 51px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 499px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 24px auto 0;
}

.u-section-7 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 499px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 537px;
  height: 417px;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 411px;
  }

  .u-section-7 .u-image-1 {
    width: 470px;
    height: 365px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 66px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    width: 360px;
    height: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    width: 340px;
    height: 264px;
  }
} .u-section-8 {
  background-image: linear-gradient(#f2f2f2, white);
}

.u-section-8 .u-sheet-1 {
  min-height: 966px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 60px 169px 0 60px;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 169px 0 105px;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 570px;
  height: 335px;
  margin: 71px auto 0;
}

.u-section-8 .u-text-3 {
  width: 570px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    width: 803px;
    margin-left: 0;
    margin-right: 29px;
  }

  .u-section-8 .u-text-2 {
    width: 803px;
    margin-left: 44px;
    margin-right: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 317px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 200px;
  }

  .u-section-8 .u-text-3 {
    width: 340px;
  }
}