 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 286px;
}

.u-section-1 .u-text-1 {
  margin: 98px auto 0;
}

.u-section-1 .u-text-2 {
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    line-height: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 588px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 436px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 11px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  letter-spacing: 4px;
  font-weight: 300;
  line-height: 1;
  text-transform: none;
  margin: 20px 1px 0 0;
}

.u-section-2 .u-line-1 {
  width: 297px;
  transform-origin: left center 0px;
  margin: 18px 16px 0 auto;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto auto;
  width: 338px;
  margin: 16px 0 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 218px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 22px 30px 8px 0;
}

.u-section-2 .u-text-3 {
  margin: 0 0 0 87px;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: -45px auto 6px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 22px 30px 8px 0;
}

.u-section-2 .u-text-4 {
  margin: 0 0 0 87px;
}

.u-section-2 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(101, 74, 255) !important;
  margin: -45px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 436px;
  background-image: url("images/softwarediag.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    height: 3px;
    margin-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -71px;
  }

  .u-section-2 .u-image-1 {
    min-height: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-line-1 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -50px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 308px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 1px;
    margin-left: 89px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -123px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 89px;
  }

  .u-section-2 .u-image-1 {
    min-height: 276px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 223px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 3px;
    margin-left: 80px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -46px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 80px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 8px;
  }

  .u-section-2 .u-image-1 {
    min-height: 408px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 658px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 266px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 1px;
    margin-left: 90px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -95px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -72px;
    margin-left: 90px;
  }

  .u-section-2 .u-image-1 {
    min-height: 257px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 838px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 23px auto 0;
}

.u-section-3 .u-list-1 {
  width: 961px;
  margin: 40px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 459px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 30px 14px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  font-size: 4.5rem;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-4 {
  margin: -66px 15px 16px 64px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 30px 14px;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
  font-size: 4.5rem;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-6 {
  margin: -66px 15px 16px 64px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 30px 14px;
}

.u-section-3 .u-text-7 {
  margin-top: 0;
  font-size: 4.5rem;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-8 {
  margin: -66px 15px 16px 64px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 5px;
    margin-left: 54px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 5px;
    margin-left: 54px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 5px;
    margin-left: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin: -79px 0 0 55px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin: -79px 0 0 55px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin: -79px 0 0 55px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 30px 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 27px;
    font-size: 3rem;
  }

  .u-section-3 .u-text-4 {
    margin-left: 45px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 27px;
    font-size: 3rem;
  }

  .u-section-3 .u-text-6 {
    margin-left: 45px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 27px;
    font-size: 3rem;
  }

  .u-section-3 .u-text-8 {
    margin-left: 45px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 32px 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 449px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 2.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 13px 0 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 200;
  margin: 0;
}

.u-section-4 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 151px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-5 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 32px 20px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 449px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 2.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 13px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 200;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 151px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-5 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 450px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 374px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 2.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 13px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 374px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 200;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.25rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 547px;
}

.u-section-7 .u-video-1 {
  height: 360px;
  width: 640px;
  filter: brightness(0.95);
  margin: 59px auto 0;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

.u-section-7 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-7 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-7 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-7 .u-video-1 {
    height: 190px;
    margin-top: 70px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 378px;
}

.u-section-8 .u-group-1 {
  width: 800px;
  min-height: 331px;
  margin: 25px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 0 auto 0 10px;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0 10px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 30px auto 0 10px;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 720px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    margin-top: -13px;
    margin-bottom: -13px;
  }
}